{% extends '_base.html' %}


{% block form %}
<div class="col-md-3 bg-warning p-2">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input class="form-control" type="text" name="Nome" value="">
        </div>
        <div class="mb-3">
            <label class="form-label">Tema</label>
            <input class="form-control" type="text" name="Tema" value="">
        </div>
        <div class="mb-3">
            <label class="form-label">Dimensione (mq)</label>
            <input class="form-control" type="text" name="mq" value="">
        </div>

        <!-- <input class="filtro-button" type="submit" value="invia"> -->
        <button class="btn btn-dark" type="submit">Invia</button>
    </form>
</div>
{% endblock %}


{% block content %}
<div class="col-md-6">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-warning">
                <tr>
                    <th>nome</th>
                    <th>tema</th>
                    <th>mq</th>
                </tr>
            </thead>

            {% for instance in list%}
            <tr $classRiga>
                <td>{{ instance.nome }}</td>
                <td>{{ instance.tema }}</td>
                <td>{{ instance.mq }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}